<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'pull-right log-out-link' %>

      <ol class="breadcrumb">
        <li><%= link_to 'Step 1', step1_orders_path %></li>
        <li><%= link_to 'Step 2', step2_orders_path %></li>
        <li class="active">Step 3</li>
        <li>Confirm</li>
      </ol>

      <%= form_for @order, url: save_step_orders_path  do |f| %>
          <%= f.label :hotel %> <br/>
          <%= f.select(:hotel, options_from_collection_for_select(@hotels, :name, :name, @order.hotel), {}, {class: 'form-control'}) %> <br/>
          <%= f.submit 'Continue', class: 'btn btn-primary center-block' %>
      <% end %>

    </div>
  </div>
</div>